.App-header {
  background-color: forestgreen;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 45px;
}

.App {
  background-color: darkseagreen;
}

#menu {
  float: left;
}

#menu-div {
  float: left;
}

#title {
  text-align: center;
  margin-top: 10px;
}

#basic-button{
  margin-top: 4px;
  margin-left: 2px;
  background-color: azure;
}

#Recycling-page-title{
  text-align: center;
  margin-top: 45px;
}

#Recycle-Info{
  width: 70%;
  margin-left: 15%;
}

#textField{
  position: absolute;
  bottom: .7%;
  left: 25.03%;
  width: 50%;
}

#outlined-basic{
  background-color: white;
}

.bold{
  font-weight: 700;
}

.italics{
  font-style: italic;
}

.underline{
  text-decoration: underline;
}

.red{
  color: red;
}

.green{
  color: green;
}

.blue{
  color:blue;
}